@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Sofia Sens';
    src: url("/fonts/SofiaSans-VariableFont_wght.ttf")  format('truetype')
}

.sofia {
    font-family: "Sofia Sens";
}